<mat-card class="devicelist-container">
    <mat-card-header>
        <mat-card-title>Devices</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let device of devices$|async; let i = index">
              <button (click)="onDeleteDevice(device.id)" mat-icon-button color="primary">
                  <mat-icon aria-label="Delete device">delete</mat-icon>
              </button>

              <mat-form-field>
                  <input #deviceName matInput placeholder="name" [value]="device.name">
              </mat-form-field>

              <mat-form-field>
                  <input #deviceMac matInput placeholder="00:00:00:00"
                          size="11" [value]="device.mac">
              </mat-form-field>

              <mat-form-field>
                  <mat-select (selectionChange)="onSetDeviceChild(device.id, $event.value)">
                    <mat-option *ngFor="let child of children$|async" [value]="child.id">
                      {{child.name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>

              <button (click)="onSaveChanges(device.id, deviceName.value, deviceMac.value)"
                      mat-icon-button color="primary">
                <mat-icon aria-label="Save name">done</mat-icon>
              </button>

          </mat-list-item>
          <mat-list-item role="listitem">
              <button (click)="onAddNewDeviceChild()" mat-raised-button color="primary">Add</button>
          </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
