<mat-card class="childlist-container">
  <mat-card-header>
      <mat-card-title>Children</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list" [formGroup]="form">
        <mat-list-item role="listitem" formArrayName="children" *ngFor="let child of children.controls; index as i">
             <div [formGroupName]="i">
              <button class="delete" (click)="onDeleteChild(child.get('id').value)" mat-icon-button color="primary">
                  <mat-icon aria-label="Delete child">delete</mat-icon>
              </button>
              <mat-form-field>
                  <input matInput #nameInput formControlName="name">
              </mat-form-field>
            </div>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button class="add-child" (click)="onAddNewItem()" mat-raised-button color="primary">Add</button>
        </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
