<mat-card class="childlist-container">
  <mat-card-header>
      <mat-card-title>Children</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let child of children$|async; let i = index">
            <button (click)="onDeleteChild(child.id)" mat-icon-button color="primary">
                <mat-icon aria-label="Delete child">delete</mat-icon>
            </button>
            <mat-form-field>
                <input matInput #name value="{{child.name}}">
            </mat-form-field>
            <button (click)="onModName(child.id, name.value)" mat-icon-button color="primary">
                <mat-icon aria-label="Save name">done</mat-icon>
            </button>

        </mat-list-item>
        <mat-list-item role="listitem">
            <button (click)="onAddNewItem()" mat-raised-button color="primary">Add</button>
        </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
