<mat-card class="childlist-container">
  <mat-card-header>
    <mat-card-title>Children</mat-card-title>
  </mat-card-header>
  <mat-card-content class="child-content" [formGroup]="form" cdkDropList cdkDropListLockAxis="x">
      <div formArrayName="children" *ngFor="let child of children.controls; index as i"
        cdkDrag (cdkDragReleased)="onDeleteChild(child.get('id').value)">
          <mat-form-field class="input-size-marker" [formGroupName]="i">
            <input matInput [size]="INPUT_LENGTH" [maxlength]="INPUT_LENGTH" formControlName="name">
          </mat-form-field>
      </div>
  </mat-card-content>
  <mat-card-actions>
      <button class="add-child" (click)="onAddNewItem()" mat-raised-button color="primary">Add</button>
  </mat-card-actions>
</mat-card>
